<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%- pageTitle %> | <%- siteTitle %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>

    <%- partial("partial/_header") %>

    <%- yield %>

    <%- partial("partial/_footer") %>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $("#tooltip-link").tooltip();
      $("#tooltip-button").tooltip();
      $("#popover-link").popover();
      $("#popover-button").popover();
    </script>
  </body>
</html>

      